/* Overrides for the tagpro.gg stylesheet */
body { overflow: visible;}

article {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h1 {
    background: none;
    width: auto;
    height: auto;
    margin: 0px;
    text-align: center;
    font-size: 4em;
}

h2 {
    clear: both;
    background: none;
    width: auto;
    height: auto;
    margin: 1em 0px .5em 0px;
    line-height: 200%;
}

h3
{
    font-size: 100%;
    text-align: left;
}
h3 > a
{
    display: block;
    font-size: 100%;
}
