{% load staticfiles raven %}
<html doctype="html" class="background">
<head>
<title>{% block title %}TagPro Flair Bot{% endblock %}</title>
<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
<link rel="stylesheet" type="text/css" href="http://tagpro.gg/stylesheets/style.css" />
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
</head>
<body>
<article>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% block heading %}<h1><a href="https://www.reddit.com/r/TagPro">/r/TagPro</a> Flair Bot</h1>{% endblock %}

{% block content %}
{% endblock %}
<div class="section lineup">
    <div>
        <img src="{% static 'img/reddit.png' %}" border="0">
        <span>
            <a href="http://www.reddit.com/message/compose/?to=TagProPreciousRoy" target="_blank">Problems? Message Precious Roy</a>
        </span>
    </div>
    <div>
        <img src="{% static 'img/github.png' %}" border="0">
        <span>
            <a href="https://github.com/TagPro-PreciousRoy/tagpro-flair-bot-django" target="_blank">Issues, features, pull requests welcome</a>
        </span>
    </div>
</div>
</article>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="{% static 'js/jquery.cookie.js' %}"></script>
<script src="//cdn.ravenjs.com/1.1.15/jquery,native/raven.min.js"></script>
<script type="text/javascript">
Raven.config('{% sentry_public_dsn %}').install();
</script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>