{% load staticfiles raven %}
<html doctype="html" class="background">
<head>
<title>{% block title %}TagPro Flair Bot{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="http://tagpro.gg/stylesheets/style.css" />
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
</head>
<body>
<article>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% block heading %}<h1>/r/TagPro Flair Bot</h1>{% endblock %}

{% block content %}
{% endblock %}
</article>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="{% static 'js/jquery.cookie.js' %}"></script>
<script src="//cdn.ravenjs.com/1.1.15/jquery,native/raven.min.js"></script>
<script type="text/javascript">
Raven.config('{% sentry_public_dsn %}').install();
</script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>