{% extends "base.html" %}
{% block content %}

<div class="step" id="step1">
<h2>Step 1</h2>
<p><em>Link your Reddit account</em></p>
{% if backends.associated %}
    <p>Logged into Reddit as {{ request.user.username }}</p>
    <form action="{% url 'social:disconnect' 'reddit' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Unlink from Reddit"/>
    </form>
{% else %}
    <p><a href="{% url 'social:begin' 'reddit' %}">Link Reddit Account</a></p>
{% endif %}
</div>

<div class="step" id="step2">
<h2>Step 2</h2>
<p><em>Link your TagPro account</em></p>
{% if backends.associated %}
    {% if request.session.tp_authenticated %}
        <p>Authenticated with TagPro Profile <a href="{{ request.session.tp_profile }}">{{ request.session.tp_profile }}</a></p>
    {% else %}
        <p>Change your name to <strong>{{ request.session.tagpro_token }}</strong></p>
        <p>Then, enter your profile URL below:</p>
        <form action="{% url 'auth_tagpro' %}" method="post">
            {% csrf_token %}
            <label for="profile_url">TagPro Profile URL:</label>
            <input type="text" name="profile_url" />
            <input type="submit" value="Link TagPro Profile" />
        </form>
    {% endif %}
{% endif %}
</div>

<div class="step" id="step3">
<h2>Step 3</h2>
<h3>Change your name back.</h3>
</div>

<div class="step" id="step4">
<h2>Step 4</h2>
<p><em>Choose your flair</em></p>
{% if request.session.tp_authenticated %}
        
    {% if request.session.available_flair %}
    <form action="{% url 'set_flair' %}" method="post" id="flair-form">
    {% csrf_token %}
    <table class="board">
        <tbody>
        <tr>
            <th></th>
            <th>Award</th>
            <th>Selected</th>
        </tr>
        {% for flair, name, position in FLAIR_DATA %}
            <tr{% if not flair in request.session.available_flair %} class="fade"{% endif %}>
                <td><div style="background-position: {{ position }}" class="flair"></div></td>
                <td>{{ name|safe }}</td>
                <td>
                    {% if flair in request.session.available_flair %}
                        <input type="radio" name="flair" value="{{ flair }}" 
                            {% ifequal flair request.session.current_flair.flair_css_class %}checked="checked"{% endifequal %} />
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <input type="submit" value="Set flair" />
    </form>
    {% else %}
        <p>Sorry, you haven't won any flair :( Keep playing!</p>
    {% endif %}

{% endif %}
</div>

{% endblock %}