{% extends "base.html" %}
{% block content %}

<h2>Step 1</h2>
<p><em>Link your Reddit account</em></p>
{% if backends.associated %}
    <p>Logged into Reddit as {{ request.user.username }}</p>
    <form action="{% url 'social:disconnect' 'reddit' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Log out from Reddit"/>
    </form>
{% else %}
    <p><a href="{% url 'social:begin' 'reddit' %}">Link Reddit Account</a></p>
{% endif %}

<h2>Step 2</h2>
<p><em>Link your TagPro account</em></p>
{% if backends.associated %}
    {% if request.session.tp_authenticated %}
        <p>Authenticated with TagPro Profile <a href="{{ request.session.tp_profile }}">{{ request.session.tp_profile }}</a></p>
    {% else %}
        <p>Change your name to <strong>{{ request.session.tagpro_token }}</strong></p>
        <p>Then, enter your profile URL below:</p>
        <form action="{% url 'auth_tagpro' %}" method="post">
            {% csrf_token %}
            <label for="profile_url">TagPro Profile URL:</label>
            <input type="text" name="profile_url" />
            <input type="submit" value="Link TagPro Profile" />
        </form>
    {% endif %}
{% endif %}


<h2>Step 3</h2>
<p><em>Choose your flair</em></p>
{% if request.session.tp_authenticated %}
    <p>You can change your name back now.</p>
    {% if request.session.available_flair %}
        <ul>
        {% for flair, name in FLAIRS_BY_KEY.iteritems %}
            {% if flair in request.session.available_flair %}
            <li><a href="{% url 'set_flair' flair=flair %}">{{ name|safe }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
    {% else %}
        <p>Sorry, you haven't won any flair :( Keep playing!</p>
    {% endif %}

{% endif %}

{% endblock %}